@import "tailwindcss";
body {
  isolation: isolate;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #071210;
}
::-webkit-scrollbar-thumb {
  background: #00ff88;
  border-radius: 4px;
  box-shadow: 0 0 6px #00ff88;
}
::-webkit-scrollbar-thumb:hover {
  background: #00cc6a;
}
